<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Carrito
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-list-header>Carrito de Compra</ion-list-header>
          <ion-item *ngFor="let item of carritoArray">
            {{item.product.name}} - Cantidad: {{item.quantity}} - Subtotal: {{item.subtotal | currency}}
            <ion-button (click)="removeFromCart(item.product)">Quitar</ion-button>
          </ion-item>
          <ion-item>
            <ion-label>Total de Compra:</ion-label>
            <ion-label slot="end">{{totalCompra | currency}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
